In [1]:
import csv
import math

In [3]:
file1=FileClass("biostats.csv")

In [4]:
file1.columnName()

['Name', '     "Sex"', ' "Age"', ' "Height (in)"', ' "Weight (lbs)"']

In [5]:
file1.shape()

(21,5)

In [6]:
file1.printColumn('Name')

['Name',
 'Alex',
 'Bert',
 'Carl',
 'Dave',
 'Elly',
 'Fran',
 'Gwen',
 'Hank',
 'Ivan',
 'Jake',
 'Kate',
 'Luke',
 'Myra',
 'Neil',
 'Omar',
 'Page',
 'Quin',
 'Ruth',
 'Ruth',
 'Sosis']

In [7]:
file1.findUniqueColumn('Name')

['Name',
 'Quin',
 'Gwen',
 'Carl',
 'Luke',
 'Hank',
 'Dave',
 'Elly',
 'Fran',
 'Myra',
 'Ivan',
 'Page',
 'Bert',
 'Kate',
 'Alex',
 'Jake',
 'Sosis',
 'Omar',
 'Neil',
 'Ruth']

In [8]:
file1.CountfindUniqueColumn('Name')

20

In [9]:
file1.columnType()

Name : <class 'str'>
     "Sex" : <class 'str'>
 "Age" : <class 'str'>
 "Height (in)" : <class 'str'>
 "Weight (lbs)" : <class 'str'>

In [10]:
file1.columnAvg()

Name : 0.0
     "Sex" : 0.0
 "Age" : 34.0
 "Height (in)" : 68.65
 "Weight (lbs)" : 145.15

In [11]:
file1.columnMaxMin()

Column:Name -> Max: 0--- Min: 0
Column:     "Sex" -> Max: 0--- Min: 0
Column: "Age" -> Max: 53--- Min: 23
Column: "Height (in)" -> Max: 75--- Min: 62
Column: "Weight (lbs)" -> Max: 176--- Min: 98

In [2]:
class FileClass():
  #control=1
  def __init__(self, fileName):
    self.fileName = fileName 
    self.file = open(self.fileName)
    self.reader = csv.reader(self.file)
    self.lines=list(self.reader)
    self.liste=[]
    
  def columnName(self):
    firstLine=(self.lines)[0]
    print(firstLine)

  def shape(self):
    lineCount= len(self.lines)
    columnCount=len((self.lines)[0])
    print(f"({lineCount},{columnCount})")

  def printColumn(self,inputName):
    try:
      name=list((self.lines)[0])
      for i in range(len(name)-1):
        if(inputName==name[i]):
          for j in range(len(self.lines)):
            #if FileClass.control==1:
              self.liste.append(self.lines[j][i])
      return self.liste
    except Exception as e:
      print ("error in level argument",e.args[0])

  def findUniqueColumn(self,_input):
    #FileClass.control=0
    _set=list(set(self.printColumn(_input)))
    return _set

  def CountfindUniqueColumn(self,_input):
    print(len(self.findUniqueColumn(_input)))

  def columnType(self):
    for i in range(len((self.lines)[0])):
      print(f"{(self.lines)[0][i]} : {type((self.lines)[0][i])}")

  def columnAvg(self):
    sum,j=0,1
    for i in range(len((self.lines)[0])):
      for j in range((len(self.lines))):
        num=self.lines[j][i]
        if num.isnumeric():
          num=int(num)
          sum=sum+num
      print(f"{(self.lines)[0][i]} : {sum/j}")
      sum=0

  def columnMaxMin(self):
    sum,j=0,1
    liste=[]
    for i in range(len((self.lines)[0])):
      for j in range((len(self.lines))):
        num=self.lines[j][i]
        if num.isnumeric():
          num=int(num)
          liste.append(num)
        else:liste.append(0)
      print(f"Column:{(self.lines)[0][i]} -> Max: {max(liste)}--- Min: {min(liste[1:])}")
      liste=[]