**(1)** Aşağıdaki listenin en küçük elemanı ile en büyük iki elemanının toplamını hesaklayın.

`my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]`

In [39]:
def quickSort(_list):
    if len(_list) < 2:
        return _list
    else:
        pivot = _list[0]
        less = [i for i in _list[1:] if i <= pivot] 
        more = [i for i in _list[1:] if i > pivot]
        return quickSort(less) + [pivot] + quickSort(more)

my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
my_list=quickSort(my_list)
#print(my_list[0]+my_list[-1])


#or we can do this :)
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
my_list.sort()
print(my_list[0]+my_list[-1])

100

**(2)** Aşağıdaki listelerde öğrenci isimleri ve aldıkları notlar yer almakta. Kullanıcıdan öğrencinin adını alan ve bu öğrencinin aldığı notu ekrana yazdıran bir kod yazın.

     names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", 
              "Richard", "Thomas", "Steven", "Mary", "Susan", "Maria", "Karen", 
              "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]

     scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]

In [38]:
 names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", 
          "Richard", "Thomas", "Steven", "Mary", "Susan", "Maria", "Karen", 
          "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]

 scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
 new_list=zip(names,scores)
 input=input("İsim gir: ")
 print("Susan isimli öğrencinin notu: {}" .format(list((x[1] for x in new_list if x[0]==input))))

İsim gir: Susan
Susan isimli öğrencinin notu: [87]

**(3)** Aşağıdaki listede öğrencilerin aldığı notlar yer almaktadır. En yüksek not kaçtır ve kaç kişi bu notu almıştır?

`scores = [99, 87, 78, 86, 68, 94, 76, 97 ,56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]`

In [37]:
scores = [99, 87, 78, 86, 68, 94, 76, 97 ,56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
scores =sorted(scores)
count=0
for x in  range(0, len(scores)):
   if scores[x]==scores[-1]:
    count=count+1
    
print("En yüksek notu alan kişi sayısı : {}, En yüksek not: {}".format(count,list((filter(lambda x:x==scores[-1],scores)))))

En yüksek notu alan kişi sayısı : 1, En yüksek not: [99]

**(4)** Ayların kaç gün çektiğini karıştırabiliyoruz. Bunun için bir liste oluşturun ancak listenizde ay isimleri ve gün sayıları beraber bulunsun (ipucu: listenizin içinde başka bir veri yapısı yer alacak!).

In [21]:
month = [{ "Ocak" : 31}, {"Şubat" : 28} , {"Mart" : 31} , {"Nisan" : 30} , {"Mayıs" : 31} , {"Haziran" : 30} , {"Temmuz" : 31} , {"Ağustos" : 31} , {"Eylül" : 30} , {"Ekim" : 31} , {"Kasım" : 30} , {"Aralık" : 31}]
month

[{'Ocak': 31},
 {'Şubat': 28},
 {'Mart': 31},
 {'Nisan': 30},
 {'Mayıs': 31},
 {'Haziran': 30},
 {'Temmuz': 31},
 {'Ağustos': 31},
 {'Eylül': 30},
 {'Ekim': 31},
 {'Kasım': 30},
 {'Aralık': 31}]

**(5)** Şimdi ise mevsim mevsim ayrılmış ay listeleri oluşturun. Liste adlarına mevsimlerin adlarını verin.

In [22]:
ilkbahar=['Mart', 'Nisan', 'Mayıs']
yaz=['Haziran', 'Temmuz','Ağustos']
sonbahar=['Eylül', 'Ekim', 'Kasım']
kis=['Aralık', 'Ocak', 'Şubat']

**(6)** Son olarak, bir önceki sorudaki listeden yaz ayının kaç gün sürdüğünü hesaplayın.

In [29]:
last_list=[]
sum=0
for x in range(0,len(month)):
   for k,v in month[x].items():
      if yaz[0]==k or yaz[1]==k or yaz[2]==k:
        last_list.append(v)

for x in range(0,len(last_list)):
  sum=sum+last_list[x]

print(sum)

92